html {
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.login {
  display: inline-block;
  margin: 15% auto;
  padding: 1em;
}
.input{
  display: block;
  margin: 0 1em;
}
.submit{
  display: block;
}
.submitButton{
  width: 550px !important;
}
