.paper {
  height: 92vh !important;
  /*margin-top: 7px;*/
  width: 30% !important;
  float: left;
  overflow-y: auto;
  position: relative !important;
}

.list:nth-child(1n+1) {

}

.listEnter:nth-child(1n+1) {
  animation: enter .6s ease-out;
  position: relative;
}

@keyframes enter {
  from {
    right: 600px;
  } to {
    right: 0px;
  }
}

.dates {
  height: 0px;
  display: none;
  transition: all .2s ease
}

.activeDates {
  display:block;
  height: 48px;
}
